policy_module(mnsavings, 1.100.1)

########################################
#
# Declarations
#

type mnsavings_t;
type mnsavings_exec_t;
init_daemon_domain(mnsavings_t, mnsavings_exec_t)

permissive mnsavings_t;

type mnsavings_initrc_exec_t;
init_script_file(mnsavings_initrc_exec_t)

type mnsavings_conf_t;
files_type(mnsavings_conf_t)

type mnsavings_var_lib_t;
files_type(mnsavings_var_lib_t)

type mnsavings_var_run_t;
files_type(mnsavings_var_run_t)

type mnsavings_port_t;
corenet_port(mnsavings_port_t)

########################################
#
# mnsavings local policy
#
allow mnsavings_t self:process { fork };

allow mnsavings_t self:fifo_file rw_fifo_file_perms;
allow mnsavings_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(mnsavings_t, mnsavings_conf_t, mnsavings_conf_t)
manage_files_pattern(mnsavings_t, mnsavings_conf_t, mnsavings_conf_t)

manage_dirs_pattern(mnsavings_t, mnsavings_var_lib_t, mnsavings_var_lib_t)
manage_files_pattern(mnsavings_t, mnsavings_var_lib_t, mnsavings_var_lib_t)
files_var_lib_filetrans(mnsavings_t, mnsavings_var_lib_t, { dir file })

manage_dirs_pattern(mnsavings_t, mnsavings_var_run_t, mnsavings_var_run_t)
manage_files_pattern(mnsavings_t, mnsavings_var_run_t, mnsavings_var_run_t)

sysnet_dns_name_resolve(mnsavings_t)
corenet_all_recvfrom_unlabeled(mnsavings_t)

allow mnsavings_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(mnsavings_t)
corenet_tcp_sendrecv_generic_node(mnsavings_t)
corenet_tcp_sendrecv_all_ports(mnsavings_t)
corenet_tcp_bind_generic_node(mnsavings_t)

gen_require(`
    type mnsavings_port_t;
')
allow mnsavings_t mnsavings_port_t:tcp_socket name_bind;

gen_require(`
    type mnsavings_port_t;
')
allow mnsavings_t mnsavings_port_t:tcp_socket name_connect;

domain_use_interactive_fds(mnsavings_t)

files_read_etc_files(mnsavings_t)

miscfiles_read_localization(mnsavings_t)

sysnet_dns_name_resolve(mnsavings_t)

allow mnsavings_t mnsavings_exec_t:file execute_no_trans;
allow mnsavings_t self:process setsched;
corecmd_exec_ls(mnsavings_t)
corenet_tcp_connect_http_port(mnsavings_t)
dev_read_urand(mnsavings_t)
fs_getattr_xattr_fs(mnsavings_t)
kernel_read_system_state(mnsavings_t)
