# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=mnsc Coin
Comment=mnsc Coin QT test network
GenericName=MNSAVINGS Digital Currency QT client testnet network
Exec=mnsavings-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/mnsavings_testnet.png
MimeType=x-scheme-handler/mnsc;
Categories=X-Office;X-Finance;
Keywords=internet;mnsavings;zmnsc;tmnsc;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
